<div class='main-content'>
  <h2>Reset Your Password</h2>
  <p>Hi <strong>{{userName}}</strong>,</p>
  <p>
    You requested a password reset for your Football Fantasy Manager account.
  </p>

  <div style='text-align: center; margin: 30px 0;'>
    <a href='{{resetUrl}}' class='button'>Reset Password</a>
  </div>

  <div class='info-box'>
    <p>This link expires in {{expirationTime}}.</p>
  </div>

  <p>
    If you didn't request this, you can safely ignore this email.
  </p>

  <p style='margin-top: 30px;'>
    <strong>The Football Fantasy Manager Team</strong>
  </p>
</div>