<div class='main-content'>
  <h2>Reset Your Password</h2>
  <p>Hi <strong>{{userName}}</strong>,</p>
  <p>
    We received a request to reset the password for your Football Fantasy Manager account. If you
    didn't make this request, you can safely ignore this email.
  </p>

  <div style='text-align: center; margin: 30px 0;'>
    <a href='{{resetUrl}}' class='button'>Reset My Password</a>
  </div>

  <div class='info-box'>
    <h3>Important Security Information</h3>
    <p>
      <strong>This link will expire in {{expirationTime}}.</strong><br />
      For your security, this password reset link can only be used once and will expire
      automatically.
    </p>
  </div>

  <p>
    If the button above doesn't work, you can copy and paste the following link into your browser:
  </p>

  <div
    style='background: #f3f4f6; padding: 15px; border-radius: 8px; margin: 20px 0; word-break: break-all; font-family: monospace; font-size: 14px; color: #374151;'
  >
    {{resetUrl}}
  </div>

  <p>
    After clicking the link, you'll be taken to a secure page where you can create a new password
    for your account. Make sure to choose a strong password that you haven't used before.
  </p>

  <p>
    If you continue to have problems accessing your account, please contact our support team and
    we'll be happy to help.
  </p>

  <p style='margin-top: 30px;'>
    Stay secure,<br />
    <strong>The Football Fantasy Manager Team</strong>
  </p>
</div>