<div class='main-content'>
  <h2>Welcome to Football Fantasy Manager!</h2>
  <p>Hi <strong>{{userName}}</strong>,</p>
  <p>
    Your account has been created successfully. We're setting up your team now.
  </p>

  <div style='text-align: center; margin: 30px 0;'>
    <a href='{{loginUrl}}' class='button'>Get Started</a>
  </div>

  <p>
    You'll receive another email when your team is ready.
  </p>

  <p style='margin-top: 30px;'>
    Welcome aboard!<br />
    <strong>The Football Fantasy Manager Team</strong>
  </p>
</div>